body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    grid-column: 1 / -1;
    background-color: #87ceeb;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
}

nav {
    background-color: #fffacd;
    padding: 20px;
    grid-column: 1 / 2;
}

main {
    display: grid;
    grid-template-columns: 2fr 3fr auto;
    gap: 20px;
}

article {
    background-color: #90ee90;
    padding: 20px;
}

article section {
    background-color: #d8bfd8;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

aside {
    background-color: #ffcccb;
    padding: 20px;
}

aside section {
    background-color: #ffa07a;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

footer {
    grid-column: 1 / -1;
    background-color: #87ceeb;
    padding: 20px;
    text-align: center;
}
